@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

@* <h1>@ViewData["Title"]</h1>

@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <div style="min-height:70vh; margin-left:20%, ">
            <div class="ui cards">
                <div class="card">
                    <div class="content">

                        <div class="header">
                            This app does not currently have a real email sender registered,
                        </div>
                        <div class="meta">
                            for how to configure a real email sender.
                            Normally this would be emailed:
                        </div>
                        <div class="description">
                            Click Approve to confirm your account
                        </div>
                    </div>
                    <div class="extra content">
                        <div class="ui two buttons">
                             <a id="confirm-link" href="@Model.EmailConfirmationUrl">  <div class="ui basic green button">Approve</div></a>                    
                        </div>
                    </div>
                </div>

            </div>
        
        </div>

    }
    else
    {
        <p>
            Please check your email to confirm your account.
        </p>
    }
} *@

<!DOCTYPE html>
<html>
<head>
    <title>Email Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="~/foldercs/emailverify.css" rel="stylesheet" />
</head>
<body>
    @{
        if (@Model.DisplayConfirmAccountLink)
        {
            <!-- Hidden preheader text -->
            <div style="display: none; font-size: 1px; color: #fefefe; line-height: 1px; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
                Go anywhere with anywheel!
            </div>

            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <!-- Logo -->
                <tr>
                    <td bgcolor="#f4f4f4" align="center">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                            <tr>
                                <td align="center" valign="top" style="padding: 40px 10px 40px 10px;">
                                    <!-- Your logo here -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Heading -->
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 0px 10px 0px 10px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                            <tr>
                                <td bgcolor="#ffffff" align="center" valign="top" style="padding: 40px 20px 20px 20px; border-radius: 2px 2px 0px 0px; color: #AADB1E; font-size: 45px; font-weight: 700; line-height: 48px;">
                                    <h1 style="font-size: 40px; font-weight:700;">anywheel</h1>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>

                <!-- Content -->
                <tr>
                    <td bgcolor="#ffffff" align="center" style="padding: 0px 10px 0px 10px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                            <tr>
                                <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 40px 30px; color: #000000; font-size: 16px; font-weight: 600; line-height: 25px;">
                                    <p>Kindly verify your email to complete your account registration.</p>
                                </td>
                            </tr>
                            <tr>
                                <td bgcolor="#ffffff" align="center" style="padding: 20px 30px 60px 30px;">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="center" style="border-radius: 30px;" bgcolor="#000000">
                                                @*  link tranfrom verify email *@
                                                <a id="confirm-link" href="@Model.EmailConfirmationUrl" target="_blank" style="font-size: 20px; color: #ffffff; text-decoration: none; padding: 10px 55px; border-radius: 2px; display: inline-block;">VERIFY NOW</a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <!-- Additional content -->
                            <!-- Additional content -->
                        </table>
                    </td>
                </tr>

                <!-- Footer -->
                <tr>
                    <td bgcolor="#f4f4f4" align="center" style="padding: 0px 10px 0px 10px;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 600px;">
                            <tr>
                                <td bgcolor="#f4f4f4" align="center" style="padding: 0px 30px 30px 30px; color: #666666; font-size: 14px; font-weight: 400; line-height: 18px;">
                                    <br>
                                    <p style="margin: ;"><a href="#" target="_blank" style="color: #111111; font-weight: 700;">Additional content here</a></p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <p>
                Please check your email to confirm your account.
            </p>
        }
    }
  
   
</body>
</html>
